@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital@0;1&display=swap');

/* media styles  */
/* phones */
@media only screen and (max-width: 600px) {
  body {
    .about-img {
      display: none;
    }
    #about p h1 {
      display: flex;
      text-align: center;
    }
    
    #about{
      width: 100%;
      text-align: center;
    }

  }
}

/* tablets */
@media only screen and (max-width: 767px) {
  body{


.navBar-ul {
  display: none;
}

.landing-pg { 
  background-image: none;
}

.landing-pg-txt {
  
  transform: translate(-13%);
}

.landing-pg-txt h1{
  font-size: 3rem;
  width: 75%;
  }

  .landing-pg-txt p{
    width: 100%;
    }

    .about-img { 
      display: none;
    }

    .aboutText p{
      justify-content: center;
      text-align: center;

    }

    .aboutText h1{
      justify-content: center;
      text-align: center;

    }

    .blog-section  { 
      display: block;
      align-items: center;
      justify-content: center;
    }

    .blogDiv { 
      width: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 5rem;
    }

    .blogImg { 
      transform: translate(10%);
    }

    .parts-container { 
      transform: translate(-6%);
    }

    .all-brand-imgs {
      transform: translate(-6%);
    }



  }

  

}
@media only screen and (min-width: 768px) and (max-width: 1670px) {
  body {
  
    .carSales-Header {
      width: 100%;
    }
    .landing-pg  {
      width: 100%;
      padding-right: 100px;  
    }

    .landing-pg-txt {
      padding-bottom: 2rem;
    }

    .landing-pg-txt p{
      padding-right: 10rem;
    }

    .landing-pg-txt h1{
      padding-right: 10rem;
    }

    .about-div {
      align-items: center;
      margin-left: 3rem;
      max-width: 85%;
    }
  }
    

  
}

@media only screen and (min-width: 1800px) {
  body{
    .landing-pg  {
      width: 100%;
      height: 60rem;
    }

    .landing-pg-txt {
      width: 75%;
    }

    .about-div {
      align-items: center;
      margin-left: 5rem;
      max-width: 85%;
    }

    
  }
}

* {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #d90429;
  --text-color: #020102;
  --bg-color: #fff;
}

:host,
:root {
  --rem: 16;
}


body {
  color: var(--text-color);
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.logo-styles {
  font-size: 1.9rem;
  font-weight: 700;

}

#cars {
  padding: 5rem 0rem;
}


.car-container {
  position: relative;
  text-align: center;
  align-items: center;
  max-width: 500px;
  width: 500px;
  max-height: 350px;
  height: 350px;
  overflow: hidden;
  transition: transform .5s ease;
  border-radius: 0.5rem;
}



.car-container img {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.hovered {
  transition: transform .5s ease;
  transform: scale(1.5);
  border-radius: 0.5rem;
}

.all-brand-imgs {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  max-width: 100%;
  gap: 2rem;
  margin-left: 11rem;
  border-radius: 0.5rem;
  align-items: center;
}

.all-brand-imgs img {
  overflow: hidden;
  border-radius: 0.5rem;
  align-items: center;
}



.brand-name {
  background-color: white;
  width: 11rem;
  font-size: 1.5em;
  font-weight: bold;
  /*  */
  position: absolute;
  bottom: 70px;
  left: 50px;
  border-radius: 0.5rem;
}

.activated {
  background-color: white;
  width: 11rem;
  color: red;
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  bottom: 70px;
  left: 50px;
  border-radius: 0.5rem;
}


.carSales-Header {
  display: flex;
  justify-content: space-around;
  padding-top: 3.3rem;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8rem;
  z-index: 1000;
}

.active {
  background-color: white;
}

.brand-img {
  max-width: 100%;
  width: 500px;
  height: 300px;
  object-fit: contain;
  object-position: center;
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 0.5rem;


}

.navigations {
  height: 5rem;
}

.navigations ul li {
  margin-right: 1rem;
  margin-left: 1rem;

}

.navigations li :hover {
  text-decoration: underline red;
}


.navBar-ul {
  display: flex;
  column-gap: 2rem;
  font-weight: light;
  font-size: 1.4rem;
  margin-top: .5rem;
}



.mag-glass {
  padding-top: 1rem;
}

.landing-pg {
  max-width: 100%;
  margin: auto;
  height: 55rem;
  width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
  align-items: center;
  background: url(./images/Background-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;


}

.landing-pg-txt h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  width: 45rem;
  text-align: left;
}

.landing-pg-txt p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  width: 43rem;
}

.landing-pg-txt button {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  width: 12rem;
  height: 4rem;
}

.landing-pg-txt {
  justify-content: left;
  margin-left: 8rem;
  margin-top: 6.5rem;
}

#parts {
  padding: 5rem 0rem;
}

.partsInfo {
  padding-top: 5rem;
  margin-bottom: 3rem;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.partsInfo p
h1,
h3 {
  text-align: center;
}

.partsInfo p {
  font-size: 1.5rem;
}

.partsInfo h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.parts-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: auto;
  margin-left: 12rem;
  gap: 2rem;
  /* display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    margin-left: rem; */
}

.box {
  margin-top: 2rem;
}

.box img {
  max-width: 100%;
  height: 220px;
  width: 500px;
  object-fit: contain;
  object-position: center;
  margin-bottom: 1rem;
}

#details {
  float: right;
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

#details:hover {
  color: red;
}

.box p {
  font-size: 1.3rem;
}

.box button {
  height: 3rem;
  width: 10rem;
}

#box-p {
  margin-top: -0.2rem;
  font-size: 1.5rem;
}

#box-i {
  margin-bottom: -1.3rem;
  font-size: 1.3rem;
}

.box-h3 {
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: auto;
}

#about {
  padding: 3rem 0rem;
}

.about-div {
  padding-top: 6rem;
  display: flex;
  align-items: center;
}

.about-img {
  justify-content: left;
  margin-left: 10rem;
  width: 43%;
}

.aboutText {
  float: right;
  position: relative;
}

.aboutText h1 {
  text-align: left;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0rem 0rem;
}

.aboutText p {
  text-align: left;
  font-size: 1.5rem;
  font-weight: light;
}

.blog-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.blogDiv {
  display: column;
  align-items: center;
  width: 30%;
}

.blogSpan {
  color: red;
  font-size: large;
}

.blogh2 {
  font-size: 1.3rem;
  font-weight: bold;
  padding: .5rem 0rem;
}

.blogp {
  font-size: 1.2rem;
}

.more:hover {
  color: red;
}






